<nav class="navbar navbar-rose">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/login"><h6><img id="block" src="assets/img/audi-filled.png">BLOCKOREDER</h6></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
<a href="#pablo">Order</a>
</li>
 <li>
<a href="#pablo">Invoices</a>
</li>
<li>
  <a href="#pablo">NW</a>
  </li>
  <li class="dropdown">
    <a href="#pablo" class="profile-photo dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <div class="profile-photo-small">
            <img src="assets/img/logo.png" alt="Circle Image" class="img-circle img-responsive">
        </div>
    <div class="ripple-container"></div></a>
    <ul class="dropdown-menu">
        <li>
            <a href="#pablo">Me<div class="ripple-container"></div></a>
        </li>
        <li>
            <a href="#pablo">Settings and other stuff</a>
        </li>
        <li class="divider"></li>
        <li><a routerLink="/login">Sign out</a></li>
    </ul>
    </li>
    </ul>
     

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <br><br><br><br><br><br><br>
  <div class="text-right">
   <button class="btn btn-rose btn-round "(click)="ctchange(value)">Createorder</button></div>
    <br>
    <div class="table-responsive">
     <table class="table">
        <thead>
            <tr>
                <th>OrderID</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Order Date</th>
                <th>Vendor</th>
                <th>Price</th>
                <th>Total</th>
                <th class="text-right">Actions</th>
            </tr>
          </thead>
              <tbody>
                <tr *ngFor="let list of bind;let i=index">
                     <td id="one" data-tooltip="click to view order" routerLink='/Audi/vieworderid/{{list.id}}' title="">{{i+1}}</td>
                    <td>{{list.productname}}</td>
                    <td>{{list.quantity}}</td>
                    <td>{{list.orderdate}}</td>
                    <td>{{list.option}}</td>
                    <td>{{list.price}}</td>
                    <td>{{list.quantity*list.price}}</td>
                    <td><button class="btn btn-sm btn-danger"><i class="material-icons" (click)="del(list.id)">close</i></button></td>
                    <td><button type="button" rel="tooltip" class="btn btn-sm btn-success" data-original-title="" title="" routerLink="/Audi/update/{{list.id}}"> <i class="material-icons">edit</i> </button></td>
                 
                </tr>
              </tbody> 
            </table>
             </div>
             </div>
       <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple">
       <p style="font-size: 20px; color: white">Loading...</p>
      </ngx-spinner>