<div  class="page-header header-filter" style="background-color:#FFFFFF;">
<div class="container">
  <br>
  <div class="col-md-10 col-md-offset-1">
    <div class="card card-signup">
                  <h2 class="card-title text-center">Order Management</h2>
                  <div class="row">
                      <div class="col-md-5 col-md-offset-1">
                <div class="info info-horizontal">
                  <div class="icon icon-rose">
                    <i class="material-icons">timeline</i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Intro of Audi</h4>
                    <p class="description">
                      a German automobile manufacturer that designs, engineers, produces, markets.
                    </p>
                  </div>
                    </div>

                <div class="info info-horizontal">
                  <div class="icon icon-primary">
                    <i class="material-icons">code</i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Member</h4>
                    <p class="description">
                      Audi is a member of the Volkswagen Group and has its roots at Ingolstadt, Bavaria, Germany.
                    </p>
                  </div>
                </div>

                <div class="info info-horizontal">
                  <div class="icon icon-info">
                    <i class="material-icons">group</i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Built Audience</h4>
                    <p class="description">
                      There is also a Fully Customizable CMS Admin Dashboard for this product.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
          <div class="social text-center">
            <img class="audiimag"src="assets/img/29748-2-audi-logo-with-transparent-background.png">
           </div>   

          <form class="form" name="signUp" #signUp="ngForm" (ngSubmit)="onSignUp(signUp.value)">
            <div class="card-content">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">face</i>
                </span>
                <div class="form-group is-empty"><input type="text" name="fname" #fname="ngModel" ngModel required  class="form-control" placeholder="First Name..." ><span class="material-input" ></span></div>
                <div *ngIf="fname.errors && (fname.touched|| fname.dirty)" class="alert text-light">
                  <div id="msg" [hidden]="!fname.errors.required">
                      Name requried
                  </div>
              </div>
              </div>

              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">email</i>
                </span>
                <div class="form-group is-empty"><input type="email" name="Email" #Email="ngModel"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" ngModel required class="form-control" placeholder="Email..."><span class="material-input"></span></div>
                <div *ngIf="Email.errors && (Email.touched|| Email.dirty)" class="alert text-light">
                    <div id="msg" [hidden]="!Email.errors.required">
                        Emailid required
                    </div>
                          <div id="msg" [hidden]="!Email.errors.pattern">
                              Please enter valid email
                         </div>                                                      
                 </div>
              </div>

              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">lock_outline</i>
                </span>
                <div class="form-group is-empty"><input type="password" name="Password" #Password="ngModel" minlength="8" ngModel required  placeholder="Password..."  class="form-control"><span class="material-input"></span></div>
                <div *ngIf="Password.errors && (Password.touched|| Password.dirty)" class="alert text-light">
                    <div id="msg" [hidden]="!Password.errors.required">
                        Password requried
                    </div>
                          <div id="msg" [hidden]="!Password.errors.minlength">
                             Please enter minimum 8 character
                          </div>
                </div>
              </div>

              <!-- If you want to add a checkbox to this form, uncomment this code -->

              <div class="checkbox">
                <label>
                  <input type="checkbox" name="optionsCheckboxes"  ngModel required><span class="checkbox-material"></span>
                  I agree to the terms and conditions.
                </label>
              </div>
            </div>
            <div class="text-center">
             <button type="submit"  class="btn btn-primary btn-round"  [disabled]="!signUp.form.valid ">Register</button>
             <a routerLink="/login"><p>Already have an account?</p></a>
            </div>
          </form>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>
