<nav class="navbar navbar-rose">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/login"><h6><img id="block" src="assets/img/580b585b2edbce24c47b2c18.png">BLOCKORDER</h6></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
<a href="#pablo">Order</a>
</li>
 <li>
<a href="#pablo">Invoices</a>
</li>
<li>
  <a href="#pablo">NW</a>
  </li>
  <li class="dropdown">
    <a href="#pablo" class="profile-photo dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <div class="profile-photo-small">
           &nbsp;  <img src="assets/img/logo.png" alt="Circle Image" class="img-circle img-responsive">
        </div>
    <div class="ripple-container"></div></a>
    <ul class="dropdown-menu">
        <li class="dropdown-header">
            Dropdown header
        </li>
        <li>
            <a href="#pablo">Me<div class="ripple-container"></div></a>
        </li>
        <li>
            <a href="#pablo">Settings and other stuff</a>
        </li>
        <li class="divider"></li>
        <li><a routerLink="/login">Sign out</a></li>
    </ul>
</li>
</ul>
     

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
    
  <br><br><br><br><br><br><br><br>
  <form  autocomplete="off" name="create" #create="ngForm" (ngSubmit)="createOrder(create.value)">
  <div class="row">
<div class="col-lg-4 col-sm-3">
        <div class="form-group label-floating  is-empty">
            <label class="control-label">Product Name</label>
          <input type="text" autocomplete="off" class="form-control" name="productname" #productname="ngModel" ngModel required>
        <span class="material-input"></span></div>
      </div>

<div class="col-lg-4 col-sm-3">
<div class="form-group label-floating is-empty">
    <label class="control-label">Quantity</label>
  <input type="text" autocomplete="off" class="form-control" name="quantity" #quantity="ngModel" ngModel required>
<span class="material-input"></span></div>
</div>

<div class="col-lg-4 col-sm-3">
  <div class="form-group label-floating is-empty">
      <label class="control-label">Order Date</label>
    <input type="date" autocomplete="off" class="form-control" name="orderdate" #orederdate="ngModel" ngModel required>
  <span class="material-input"></span></div>
  </div>
 </div>

 <div class="row">
  <div class="col-lg-4 col-sm-3">
          <div class="form-group is-empty vendor">
            <select type="text"   class="form-control" name="option" #option="ngModel" ngModel required>
              <option value="" disabled selected>Vendor</option>
              <option value="MRF">MRF</option>
              <option value="BridgeStone">BridgeStone</option>
              </select>
      <span class="material-input"></span></div>
  </div>
  
  <div class="col-lg-4 col-sm-3">
  <div class="form-group label-floating is-empty">
  <label class="control-label">Expected Delivery Date</label>
   <input type="date" autocomplete="off" class="form-control" name="ExpectedDeliveryDate" #ExpectedDeliveryDate="ngModel" ngModel required>
  <span class="material-input"></span></div>
  </div>
  
  <div class="col-lg-4 col-sm-3">
    <div class="form-group label-floating is-empty">
      <label class="control-label">Price</label>
      <input type="text" autocomplete="off" class="form-control" name="price" #price="ngModel" ngModel required>
     <span class="material-input"></span></div>
     </div>
    </div>
   <div class="col-md-4 col-md-offset-8">
     <br>
     <br>
    <button type="submit" class="btn btn-success">Create </button>
    <a routerLink="/Audi/list"><button class="btn btn-danger">Cancel</button></a>
</div>
</form>
</div>
 

     

