input[type=date] {
    text-align:right;
  }
  input[type=date]::after {
    text-align:left;
  }
 
  
  input[type="date"]:before {
    color: lightgrey;
  }
  
  input[type="date"]:focus:after {
    text-align: left;
  }
  input[type=date]:after {
    color: black;
    
  }
  input[type=text]{
    color:black;
  }
  #blockorder{
    font-size:18px;
    font-weight: 600;
    margin-top:0px;
  }
