<nav class="navbar navbar-rose">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/login"><p id="viewhead" ><img id="block" src="assets/img/580b585b2edbce24c47b2c18.png">BLOCKORDER</p></a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
         <li>
          <a href="#pablo">Order</a>
        </li>
        <li>
           <a href="#pablo">Invoices</a>
       </li>
       <li>
          <a href="#pablo">NW</a>
      </li>
      <li class="dropdown">
          <a href="#pablo" class="profile-photo dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <div class="profile-photo-small">
             &nbsp;  <img src="assets/img/logo.png" alt="Circle Image" class="img-circle img-responsive">
    </div>
      <div class="ripple-container"></div></a>
      <ul class="dropdown-menu">
          <li class="dropdown-header">
              Dropdown header
          </li>
          <li>
              <a href="#pablo">Me<div class="ripple-container"></div></a>
          </li>
          <li>
              <a href="#pablo">Settings and other stuff</a>
          </li>
          <li class="divider"></li>
          <li><a routerLink="/login">Sign out</a></li>
     </ul>
        </li>
  </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>



  <div class="features-5" style="background-color:whitesmoke;">
		<div class="col-md-8 col-md-offset-2 text-center">
    <h2 class="title">Your life will be much easier</h2>
    <br><br>
    </div>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="info">
						<div class="icon">
						<i class="material-icons">code</i>
						</div>
						<h4 class="info-title">OrderID</h4>
						<p>{{result.OrderID}} </p>
					</div>
				</div>

				<div class="col-sm-4">
				<div class="info">
				<div class="icon">
				<i class="fab fa-product-hunt"></i>
				</div>
				<h4 class="info-title">Product Name</h4>
				<p>{{result.productname}}</p>
				</div>
				</div>

				<div class="col-sm-4">
				<div class="info">
				<div class="icon">
                <i class="fas fa-shopping-cart"></i>
				</div>
				<h4 class="info-title">Quantity</h4>
				<p>{{result.quantity}} </p>
				</div>
				</div>
			   </div>

			<div class="row">
			<div class="col-sm-4">
			<div class="info">
			<div class="icon">
            <i class="fab fa-supple fa-xl"></i>
			</div>
			<h4 class="info-title">Vendor</h4>
			<p>{{result.option}}</p>
			</div>
			</div>

				<div class="col-sm-4">
					<div class="info">
						<div class="icon">
                         <i class="far fa-calendar"></i>
						</div>
						<h4 class="info-title">Order Date</h4>
						<p>{{result.orderdate}} </p>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="info">
						<div class="icon">
						<i class="material-icons">attach_money</i>
						</div>
						<h4 class="info-title">Price</h4>
						<p>{{result.price}}</p>
					</div>
				</div>
              </div>
      <div class="row">
          <div class="col-sm-4">
            <div class="info">
              <div class="icon">
                <i class="far fa-calendar"></i>
              </div>
              <h4 class="info-title">Expected Delivery Date</h4>
              <p>{{result.ExpectedDeliveryDate}}</p>
            </div>
          </div>
          <br>
          <br>
        <div class="col-lg-6"></div>
        <div class="col-lg-2 text-center">
            <a routerLink="/Audi/list" class="btn btn-rose btn-round">Back</a></div>
          </div>
        </div>
		</div>
	
