/* body{
    background-image:url("src/assets/img/Audi-Logo-Wallpaper-HD-background.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}
h1{
    color:rgb(223, 22, 72);
    font-weight:800;
} */